{% extends "layout.html" %}

{% block title %}积木模型 | 日志管理{% endblock %}
{% block link %}
<link href="/static/svf/img/favicon.ico" type="image/x-icon" rel="shortcut icon">
<link href="/static/sfv/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/static/sfv/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="/static/sfv/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
{% endblock %}
{% block nav_monitor %}class="active"{% endblock %}
{% block nav_monitor_log %}class="active"{% endblock %}
{% block breadcrumb %}
<li>
    <a href="javascript:void(0)">监控</a>
</li>
<li class="active">
    <strong>日志管理</strong>
</li>
{% endblock %}
{% block content %}
<form role="form" class="form-inline" method="post" action="/log/upload/" enctype="multipart/form-data">
    <div class="form-group">
        <label class="sr-only">日志文件</label>
        <input type="file" name="log" class="form-control">
    </div>
    <button class="btn btn-white" type="submit">上传</button>
    {% for select_topn in [10, 20, 30] %}
        <a href="/log/?topn={{select_topn}}" 
        {% if select_topn == topn %}
            class="btn btn-white active"
        {% else %}
            class="btn btn-white"
        {% endif %}
        role="button">TOP {{select_topn}}</a>
    {% endfor %}
    {% for select_topn in [10, 20, 30] %}
        <a href="/log/download/?topn={{select_topn}}" 
        {% if select_topn == topn %}
            class="btn btn-white active"
        {% else %}
            class="btn btn-white"
        {% endif %}
        role="button">下载TOP {{select_topn}}</a>
    {% endfor %}
</form>
<br/><br/>
<table class="logs table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>IP</th>
            <th>URL</th>
            <th>状态码</th>
            <th>次数</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
            <tr>
                <td>{{log[0]}}</td>
                <td>{{log[1]}}</td>
                <td>{{log[2]}}</td>
                <td>{{log[3]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block script %}
<script src="/static/sfv/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/static/sfv/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="/static/sfv/js/plugins/dataTables/dataTables.responsive.js"></script>
<script src="/static/sfv/js/plugins/dataTables/dataTables.tableTools.min.js"></script>
{% endblock %}

{% block js %}
jQuery(document).ready(function() {
    jQuery('.logs').dataTable({
                responsive: true,
                "dom": 'T<"clear">lfrtip',
                "tableTools": {
                    "sSwfPath": "/static/sfv/js/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
                }
    });
});
{% endblock%}